<style>
#center-content {
	max-width: 600px;
}

.question-card {
	margin:4% auto 4%;
	padding:3%;
    width:100%;
}

body, html {
    background-color: #f9f9f9;
}

.set-text {
	font-size: 1.3em;
}

.question {
	font-size: 1.3em;
}

#fixed-bottom {
  width:100%;
  text-align:center;
}

.hide-it {
  display:none;
}

.break-words {
  word-wrap: break-word;
}


body {
  -webkit-perspective: 800px;
}

.card {
  position: relative;
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.1s; /* Chrome, Safari, Opera */
  line-height:140%;    
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0% {left:-1000px; top:0px; transform:rotateY(-90deg)}
    75% {left:-1000px; top:0px; transform:rotateY(-90deg)}
    100% {left:0px; top:0px; transform:rotateY(0deg)}
}
</style>


<div class="container" id="center-content" style="">
    <div id="deckName">
      <h3 class="text-left"><%= @card.deck.name %></h3>
    </div>
      <div class="card">
    <section class="question-card break-words">
      <p class="set-text">
        <%= @card.question %>
      </p>
    </section>
    
    <button class="btn btn-lg btn-primary btn-block" id="show-answer">Show Answer</button>
    
    <section class="question-card hide-it break-words" id="answer-card" style="border-top: 2px solid #d3d3d3;">
      <p style="margin-top:15px;" class="set-text">
        <%= @card.answer %>
      </p>
    </section>
    <p class="text-center hide-it" style="color:#cccccc;" id="how-well">How easily did you recall this answer?<%= link_to raw('&nbsp;Edit'), edit_decks_path(@card.deck), style: "text-decoration:none;background:none;color:black;" %></p>
    <section id="fixed-bottom">
      <div class="btn-group hide-it" id="recall-rank">

        <%= form_for @card, url: update_cards_path(@card), html: {class:"btn-group", style: "width:20%;color:white;"} do |f| %>
          <%= f.hidden_field :current_ranking, value:1 %>
          <%= f.submit "1", class:"btn btn-danger btn-lg btn-block", style:"border-bottom-left-radius: 3px;border-top-left-radius: 3px;" %>
        <% end %>
        <%= form_for @card, url: update_cards_path(@card), html: {class:"btn-group", style: "width:20%;color:white;"} do |f| %>
          <%= f.hidden_field :current_ranking, value:2 %>
          <%= f.submit "2", class:"btn btn-warning btn-lg btn-block" %>
        <% end %>
        <%= form_for @card, url: update_cards_path(@card), html: {class:"btn-group", style: "width:20%;color:white;"} do |f| %>
          <%= f.hidden_field :current_ranking, value:3 %>
          <%= f.submit "3", class:"btn btn-info btn-lg btn-block" %>
        <% end %>
        <%= form_for @card, url: update_cards_path(@card), html: {class:"btn-group", style: "width:20%;color:white;"} do |f| %>
          <%= f.hidden_field :current_ranking, value:4 %>
          <%= f.submit "4", class:"btn btn-success btn-lg btn-block" %>
        <% end %>
        <%= form_for @card, url: update_cards_path(@card), html: {class:"btn-group", style: "width:20%;color:white;"} do |f| %>
          <%= f.hidden_field :current_ranking, value:5 %>
          <%= f.submit "5", class:"btn btn-primary btn-lg btn-block" %>
        <% end %>

      </div>
    </section>
  </div>
</div>




<script>
$("#show-answer").click(function(){
  $("#recall-rank").show()
  $("#how-well").show()
  $("#answer-card").show()
  $("#show-answer").hide()
})
</script>
