<% content_for :head do %>
  <%= stylesheet_link_tag "decks_index" %> 
<% end %>



  <section class="col-md-8 col-md-offset-2">
    <h3 class="text-center">My Decks</h3>
   
    <div class="row" style="border-bottom: 2px solid #d5d5d5;padding:12px 8px 3px;margin-top:20px;">
      <div class="col-xs-3">
        <span class="table-header">Deck</span>
      </div>
      <div class="col-xs-3">
       <span class="table-header">Mastery</span>
      </div>
      <div class="col-xs-3">
       <span class="table-header">Cards</span>
      </div>
      <div class="col-xs-3 text-center">
        <button class="btn btn-sm btn-success dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a onclick='$(".hidden-form").slideDown("slow")' href="javascript:void(0);"><i class="glyphicon glyphicon-plus ex"></i><span class="hide-deck"> Create New Deck</span></a></li>
              <li><a onclick='document.querySelector("#file").click()' href="javascript:void(0);"><i class="glyphicon glyphicon-open-file"></i><span> Upload CSV</span></a></li>
               <li><%= link_to raw('<i class="glyphicon glyphicon-save-file"></i><span> Download CSV</span>'), download_csv_path(format: "csv") %></li>
            </ul>
      </div>
    </div>



    <div class="row hidden-form" style="border-top: 1px solid #d5d5d5;padding:6px 8px 6px;display:none;">

    <%= form_for(@new_deck) do |f| %>
    <div class="col-xs-3" style="padding-top:4px;">
      <%= f.text_field :name %><%= f.hidden_field :user_id %>
    </div>
    <div class="col-xs-3" style="padding-top:4px;">
     <span class="">0%</span>
    </div>
    <div class="col-xs-3" style="padding-top:4px;">
     <span class="">0</span>
    </div>
    <div class="col-xs-3 text-center">
      <%= f.submit :Save, class: "btn btn-primary btn-sm" %>
    </div>

    <% end %>

    </div>


    <% @decks.each do |deck| %> 


    <div class="row deck-row" style="border-top: 1px solid #d5d5d5;padding:6px 8px 6px;">
      <div class="col-xs-3" style="padding-top:4px;">
        <span class=""><%= deck.name %></span>
      </div>
      <div class="col-xs-3" style="padding-top:4px;">
       <span class="">0%</span>
      </div>
      <div class="col-xs-3" style="padding-top:4px;">
       <span class=""><%= deck.cards.count %></span>
      </div>
      <div class="col-xs-3 text-center">
          <p class="btn-group" style="margin:0;">
          <%= link_to raw('<i style="color:black;" class="glyphicon glyphicon-eye-open"></i>'), review_cards_path(deck.id), style: "color:white;border-radius:3px !important;", class: "btn btn-default btn-sm btn-edges" %>
          
          
          <%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_decks_path(deck), class:"btn btn-warning btn-sm btn-edges", style: "border-radius:3px !important;color:white;" %>
        </p>
      </div>
    </div>
    <% end %>
  


  </section>


<%= form_tag upload_decks_path, multipart: true, method: :post, style: "display:none;", id: "upload_form" do %>
<%= file_field_tag :file, onchange: "this.form.submit()" %>
<% end %>



<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

